.career-head{
    background-image: url('../images/career-head-back.png');
}

// employee section strat
.employee{
    width: 100%;
}
.employee-container{
    width: 85%;
    margin: 10rem auto;
    @include flex(center,flex-start);
    flex-direction: column;
    .employee-card{
        width: 100%;
        @include flex(space-between,center);
        padding: 3.5rem;
        background-color: $snow;
        margin-bottom: 2rem;
        button{
            padding: 1.2rem 6rem;
        }
    }
}
@media screen and (max-width:767px) {
    .employee-container{
        .employee-card{
            flex-direction: column;
            text-align: center;
            button{
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}
// employee section strat end